/Java/Jogo da Velha/JogoDaVelha1/nbproject/private/
/Java/Jogo da Velha/JogoDaVelha1/build/
/Java/Jogo da Velha/JogoDaVelha1/dist/
/Java/Nova Pasta/Testes/nbproject/private/
/Java/Nova Pasta/Testes/build/
/Java/Nova Pasta/Testes/dist/
/Java/Testes/Testes/build/
/Java/Testes/Testes/dist/
/Java/Testes/Testes/nbproject/private/
/Java/Trabalho - Tânia - 3º Bimestre/Resolveric/nbproject/private/
/Java/Trabalho - Tânia - 3º Bimestre/Resolveric/build/
/Java/Trabalho - Tânia - 3º Bimestre/Resolveric/dist/
/Java/Trabalho - Tânia - 3º Bimestre/ElimançãoDeGauss/nbproject/private/
/Java/Testes/Nova Pasta/main/nbproject/private/
/Java/Testes/bancoTeste/bancoImplement/nbproject/private/
/Java/Testes/bancoTeste/bancoImplement/build/
/Java/Trabalho - Tânia - 3º Bimestre/ElimançãoDeGauss/build/
/JPA/JavaJPA/nbproject/private/
/JPA/JavaJPA/build/
/JSP/CursinhoJSP/CursinhoJSP/nbproject/private/
/JSP/CursinhoJSP/CursinhoJSP/build/