body {
	background-image: url("img/bg.jpg");
}
ul {
  
}

li {
    float: left;
}

.login{
    left: 80%;
    width: 180px;
    height: 80px;
    text-align: right;
    padding: 15px;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 10%;
}
#cadastrar{
    background-color: white;
    border-radius: 10%;
    position: fixed;
    bottom: 85%;
    width: 92px;
    left: 81%;
    text-align: center;
    border: 1px solid black;
}
#entrar{
    border-radius: 10%;
    background-color: white;
    border: 1px solid black;
    color: black;
    position: relative;
    left: 24%;
    width: 100px;
    text-align: center;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}